## <center>Exercise 1: Creating a Table with Postgres</center>

<u>Tasks</u>
<ul>
<li>Create a table in Postgres</li>
<li>Insert rows of data</li>
<li>Run a simple SQL query to validate the information</li>
</ul>

In [1]:
import psycopg2

In [2]:
conn = psycopg2.connect(
    dbname = "udacity",
    user = "ioakeim",
    password = "****" 
)

cur = conn.cursor()
conn.set_session(autocommit = True)

In [3]:
# Create music library
cur.execute(
    """
    CREATE TABLE IF NOT EXISTS music_library (
        song_title varchar,
        artist_name varchar,
        year int,
        album_name varchar,
        single bool);
    """
)

In [9]:
# Insert rows
cur.execute(
    "INSERT INTO music_library (song_title, artist_name, year, album_name, single) \
        VALUES (%s, %s, %s, %s, %s)", 
        ("Across the Universe", "The Beatles", 1970, "Let it Be", False)
)

cur.execute(
    "INSERT INTO music_library (song_title, artist_name, year, album_name, single) \
        VALUES (%s, %s, %s, %s, %s)", 
        ("Think For Yourseld", "The Beatles", 1965, "Rubber Soul", False)
)

In [11]:
# Validate
cur.execute("SELECT * FROM music_library;")

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

('Across the Universe', 'The Beatles', 1970, 'Let it Be', False)
('Think For Yourseld', 'The Beatles', 1965, 'Rubber Soul', False)

In [12]:
cur.close()
conn.close()